@model IEnumerable<Prodact>
@{
    ViewData["Title"] = "ام شاپ";
}

<div class="display-4 text-center">به فروشگاه ما خوش آمدید</div>
<hr  />

<div class="container mt-6 ">
    <div class="row">
        @foreach(var item in Model)
            {
                <partial name="_BoxProduct" model="@item"/>
            }
    </div>
</div>

